<VirtualHost *:80>
  ServerName bagstore

  ErrorLog logs/bagstore-index-error.log
  CustomLog logs/bagstore-index-access.log common
  ProxyTimeout 600

  <Location / >
    ProxyPass ajp://localhost:8071/
    ProxyPassReverse ajp://localhost:8071/
  </Location>
</VirtualHost>
